* {
  background-color: rgb(213, 209, 209);
}

h1,
h3 {
  text-align: center;
}
h4 {
  margin: 15px;
}
.controls {
  text-align: center;
}
button {
  background-color: pink;
  border-radius: 10px;
  width: 35px;
  height: 33px;
  border: 1px solid black;
  margin-top: 13px;
  margin-left: 7px;
}

input,
select {
  border-radius: 10px;
  text-align: center;
  width: 120px;
  height: 30px;
  border: 1px solid black;
  background-color: white;
}

.todoAndDelete {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #87d5d8;
  align-items: baseline;
}

p {
  background-color: #87d5d8;
  padding: 5px;
}
